@media only screen and (min-width : 320px) and (max-width : 567px){
    .App__wrapper{
        display: block;
    }

    .subresult{
        display: none;
    }

    .container{
        margin-left: 15px;
    }

    .results__main{
        width: 95%;

        &-img{
            display: none;
        }

        &-text{
            font-size: 15px;
        }

        &-sublink{
            font-size: 12px;
        }
    }

    .results__search{
        width: 95%;
        max-height: 230px;
    }

    .queries__wrapper{
        display: block;
    }

    .queries__link{
        margin-top: 10px;
        width: 95%;
    }

    .footer{
        padding: 15px;

        &__top-link{
            font-size: 12px;

            &-blue{
                font-size: 12px;
            }
        }

        &__bottom-link{
            padding-right: 10px;
        }
    }
}