@media only screen and (min-width : 1024px) and (max-width : 1279px){

    .container{
        margin-left: 30px;
    }

    .results__main{
        width: 620px;
    }

    .subresult{
        max-width: 310px;
        margin-left: 0;
        max-height: 600px;

        &__search-image{
            width: 60px;
        }
    }

    .footer{
        padding-left: 30px;
    }
}

@media only screen and (min-width : 1441px) and (max-width : 2580px){

    .subresult{
        margin-left: 50%;
    }

}