@media only screen and (min-width : 568px) and (max-width : 767px){
    .results__main{
        

        
    }

    .results__search{
        
    }

    .subresult{
        display: none;
    }

    .queries__link{
        width: 95%;
    }

    .footer{
        padding-left: 20px;
    }
}