@media only screen and (min-width : 768px) and (max-width : 1023px){
 

    .container{
        margin-left: 30px;
    }

    .subresult{
        display: none;
    }

    .footer{
        padding-left: 30px;
    }
}