@media only screen and (min-width : 568px) and (max-width : 767px){
    .container{
        margin-left: 20px;
    }

    .App__wrapper{
        display: block;
    }

    .results__main{
        width: 95%;

        &-img{
            width: 85px;
            height: 70px;
        }
    }

    .results__search{
        width: 95%;
    }

    .subresult{
        display: none;
    }

    .queries__link{
        width: 95%;
    }

    .footer{
        padding-left: 20px;
    }
}