

.results__subtitle-color-g{
    color: #70757a;
    line-height: 43px;
}

.results__title{
    font-size: 18px;

    &-link{
        font-style: italic;
    }


    &-size-s{
        font-size: 15px;
        margin: 5px 0 30px;
    }
}