.results__search{
    max-height: 180px;
    margin-bottom: 30px;

    @include media(sm,max){
        width: 95%;
    }

    @include media(xs,max){
        width: 95%;
        max-height: 230px;
    }

    &-link{
        display: inline-block;
        font-size: 20px;
        color: #1a0dab;
        margin-bottom: 5px;
    }

    &-link-small{
        display: block;
        color: #23933b;
        margin-bottom: 5px;
    }

    &-text{
        line-height: 1.58;
    }
}