.header{
    min-height: 127px;
    border-bottom: 1px solid #ebebeb;

    &__top{
        min-height: 69px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px 0;


        @include media(xs,max){
            display: flex;
            flex-direction: column;
            padding: 10px 10px 0;
        }


        &-block{
            display: flex;
            align-items: center;

            @include media(xs,max){
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

        &-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;

            @include media(md,max){
                display: flex;
                justify-content: center; 
                align-items: center;
            }

            @include media(xs,max){
                display: flex;
                justify-content: space-between;
            }
        }

        &-link{
            margin-left: 30px;

            @include media(sm,max){
                margin-left: 10px;
            }

            @include media(xs,max){
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
            }
            }
        }

    }
    &__bottom{
        display: flex;
        align-items: center;
        min-height: 58px;

        @include media(xs,max){
            justify-content: center;
        }
    }

    

    &__menu-list{
        display: flex;
        list-style: none;
        margin-left: 160px;
        padding: 0;

        @include media(xl,max){
            margin-left: 30px; 
        }

        @include media(md,max){
            margin-left: 30px;
        }

        @include media(sm,max){
            margin-left: 20px; 
        }

        @include media(xs,max){
            margin-left: 10px;
        }


    }

    &__menu-item{
        display: flex;
        justify-self: center;
        align-items:center;
        margin-right: 25px;

        &:last-child{
            margin-right: 0;
            margin-left: 160px
        }

        @include media(xl,max){
            &:last-child{
                margin-left: 130px;
            }
        }

        @include media(md,max){
            &:last-child{
                margin-left: 10px;
            }
        }

        @include media(sm,max){
            margin-right: 20px;

            &:last-child{
                margin-left: 0;
            }
        }

        @include media(xs,max){
            margin-right: 10px;

            &:last-child{
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    @include media(sm,max){
        .header__top-image{
            width: 18px;
        }
    }

    @include media(xs,max){
        .header__menu-image{
            display: none;
        }
    }
}

@import "./headerlogo/HeaderLogo.scss";
@import "./headersearch/HeaderSearch.scss";
@import "./headermenulink/HeaderMenuLink.scss";
