.results__main{
    position: relative;
    width: 688px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 20px;

    @include media(xl,max){
        width: 620px;
    }

    @include media(sm,max){
        width: 95%;

        &-img{
            width: 85px;
            height: 70px;
        }
    }

    @include media(xs,max){
        width: 95%;

        &-img{
            display: none;
        }
    }

    &-top{
        display: flex;
    }
        

    &-text{
        color: #4d5156;
        font-size: 16px;
        line-height: 1.58;

        @include media(xs,max){
            font-size: 15px;
        }
        
    }

    &-link{
        display: inline-block;
        font-size: 20px;
        color: #1a0dab;
        margin-bottom: 5px;
    }

    &-sublink{
        display: inline-block;
        color: #23933b;

        @include media(xs,max){
            font-size: 12px;
        }
    }

    
}