

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

.App__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container{
    margin-left: 160px;
}

@import './components/header/Header.scss';
@import './components/main/Results.scss';
@import './components/subresults/SubResult.scss';
@import './components/queries/Queries.scss';
@import './components/footer/Footer.scss';

@import './components/mediastyle/mediaMaxWidth567px';
@import './components/mediastyle/mediaMaxWidth767px';
@import './components/mediastyle/mediaMaxWidth1023px';
@import './components/mediastyle/mediaMaxWidth1279px';





