@import './sass/vars.scss';
@import './sass/mixins.scss';

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

.App__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media(sm,max){
        display: block;
    }

    @include media(xs,max){
        display: block;
    }
}

.container{
    margin-left: 160px;

    @include media(xl,max){
        margin-left: 30px;
    }

    @include media(md,max){
        margin-left: 30px;
    }

    @include media(sm,max){
        margin-left: 20px;
    }

    @include media(xs,max){
        margin-left: 15px;
    }
    
}

@import './components/header/Header.scss';
@import './components/main/Results.scss';
@import './components/subresults/SubResult.scss';
@import './components/queries/Queries.scss';
@import './components/footer/Footer.scss';